body {
  background-color: #1d1e21;
  padding: 0;
  margin: 0;
  margin-top: 200px;
  text-align: center;
}

.header-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 150px;
  padding: 5px;
  background-color: black;
  position: fixed;
  top: 0;
  margin-bottom: 150px;
}

.members {
  width: 30%;
  color: whitesmoke;
  list-style: none;
}

.members li {
  margin: 15px 0 0 0;
  font-size: 1.7em;
}
.members a {
  text-decoration: none;
  color: whitesmoke;
}

.logo-img {
  height: 100%;
}

.header {
  text-align: center;

  color: white;
}

.section-header {
  width: 95%;
  margin: 10px auto -10px auto;
  padding: 0 20px;
}

#jeremy {
  width: 95%;
  margin: 10px auto;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding: 20px;
  border: 1px dotted whitesmoke;
}

.jeremy-order {
  background-color: #33415c;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 650px;
  margin: 10px auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.complete {
  background-color: rgb(45, 44, 44);
}

.jeremy-header {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  justify-content: space-around;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.jeremy-header > h1,
h3 {
  width: 30%;
  text-align: right;
}

.jeremy-footer {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

.jeremy-footer h3 {
  width: 40%;
  margin: 10px auto;
  color: white;
  background-color: #33415c;
  border: 2px solid black;
  border-radius: 10px;
}

#jeremy section > ul {
  display: flex;
  width: 90%;
  border-bottom: 1px solid black;

  align-items: baseline;
  justify-content: flex-start;
  list-style: none;
  margin: auto;
  padding: 0;
}
#jeremy section li {
  padding: 10px;
  margin: 0 10px;
  width: 100px;
}

@media only screen and (max-width: 600px) {
  #jeremy section ul {
    flex-direction: column;
  }
}

@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

#ganesh.server-section {
  background-color: #1b3b6f;
  /* width: 100vw;
  height: 100vh; */
  border: 1rem;
  color: aliceblue;
  /* text-align: center; */
  padding: 1rem;
  border-radius: 20px;
  font-family: "Comfortaa", Arial, sans-serif;
}

/* body {
  background-color: #7fa8eb;
}
h1 {
  text-align: center;
} */

#ganesh.server-section h2 {
  text-align: center;
  /* padding-bottom: 1rem; */
}

.ganesh-card-parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  /* border: 0.15rem outset pink; */
  /* outline: 0.15rem solid #21295c; */
  box-shadow: 0 0 0 0.2rem #c2cfd8;
  border-radius: 20px;
  /* font: bold 1rem sans-serif; */
  margin: 1rem;
  padding: 0.5rem;
  outline-offset: 0.5rem;
}

.ganesh-card-container1 {
  grid-area: 1 / 1 / 2 / 4;
  /* border: 0.15rem outset pink; */
  outline: 0.15rem solid #21295c;
  box-shadow: 0 0 0 0.1rem #c2cfd8;
  border-radius: 20px;
  /* font: bold 1rem sans-serif; */
  margin: 1rem;
  padding: 0.5rem;
  outline-offset: 0.5rem;
}
.ganesh-card-container2 {
  grid-area: 2 / 1 / 3 / 4;
  /* border: 0.15rem outset pink; */
  outline: 0.15rem solid #21295c;
  box-shadow: 0 0 0 0.1rem #c2cfd8;
  border-radius: 20px;
  /* font: bold 1rem sans-serif; */
  margin: 1rem;
  padding: 0.5rem;
  outline-offset: 0.5rem;
}
.ganesh-card-container3 {
  grid-area: 3 / 1 / 4 / 4;
  /* border: 0.15rem outset pink; */
  outline: 0.15rem solid #21295c;
  box-shadow: 0 0 0 0.1rem #c2cfd8;
  border-radius: 20px;
  /* font: bold 1rem sans-serif; */
  margin: 1rem;
  padding: 0.5rem;
  outline-offset: 0.5rem;
}
.ganesh-card-container4 {
  grid-area: 1 / 4 / 2 / 7;
  /* border: 0.15rem outset pink; */
  outline: 0.15rem solid #21295c;
  box-shadow: 0 0 0 0.1rem #c2cfd8;
  border-radius: 20px;
  /* font: bold 1rem sans-serif; */
  margin: 1rem;
  padding: 0.5rem;
  outline-offset: 0.5rem;
}
.ganesh-card-container5 {
  grid-area: 2 / 4 / 3 / 7;
  /* border: 0.15rem outset pink; */
  outline: 0.15rem solid #21295c;
  box-shadow: 0 0 0 0.1rem #c2cfd8;
  border-radius: 20px;
  /* font: bold 1rem sans-serif; */
  margin: 1rem;
  padding: 0.5rem;
  outline-offset: 0.5rem;
}
.ganesh-card-container6 {
  grid-area: 3 / 4 / 4 / 7;
  /* border: 0.15rem outset pink; */
  outline: 0.15rem solid #21295c;
  box-shadow: 0 0 0 0.1rem #c2cfd8;
  border-radius: 20px;
  /* font: bold 1rem sans-serif; */
  margin: 1rem;
  padding: 0.5rem;
  outline-offset: 0.5rem;
}

.ganesh-parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.ganesh-order {
  grid-area: 1 / 1 / 2 / 6;
  font: bold 1rem sans-serif;
  text-align: center;
}
.ganesh-guest {
  grid-area: 2 / 1 / 3 / 6;
  font: bold 1rem sans-serif;
  text-align: center;
}
.ganesh-order-items {
  grid-area: 3 / 1 / 6 / 6;
  font-style: italic;
  margin-left: 5vw;
}

.ganesh-card-guest-parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-self: center;
  align-self: center;
  /* outline: 0.15rem solid #fef9ef; */
  /* box-shadow: 0 0 0 0.1rem #c2cfd8; */
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
  background-color: #14224e;
}

.ganesh-card-guest-name-label {
  grid-area: 1 / 1 / 2 / 2;
  font: bold 1rem sans-serif;
  text-align: center;
  padding: 0.5rem;
  justify-self: start;
  align-self: center;
}
.ganesh-card-guest-name-value {
  grid-area: 1 / 2 / 2 / 3;
  font-style: italic;
  padding: 0.5rem;
  justify-self: center;
  align-self: center;
}
.ganesh-card-guest-order-status-label {
  grid-area: 1 / 3 / 2 / 4;
  font: bold 1rem sans-serif;
  text-align: center;
  padding: 0.5rem;
  justify-self: start;
  align-self: center;
}
.ganesh-card-guest-order-status-value {
  grid-area: 1 / 4 / 2 / 5;
  font-style: italic;
  padding: 0.5rem;
  justify-self: center;
  align-self: center;
}
.ganesh-card-guest-order-items {
  grid-area: 2 / 1 / 3 / 5;
  font-style: italic;
  margin-left: 5px;
  padding: 5px;
  justify-self: start;
  align-self: start;
}

.ganesh-card-guest-order-list-item {
  list-style: square;
  text-align: end;
}

.ganesh-card-order-total-empty,
.ganesh-card-order-total-label,
.ganesh-card-order-tip-label {
  font-style: italic;
  margin-left: 1vw;
  /* padding: 5px; */
  justify-self: center;
  align-self: center;
  font-weight: bold;
  text-align: end;
  font-size: large;
}

.ganesh-card-order-total-value,
.ganesh-card-order-tip-value {
  font-style: italic;
  /* padding: 5px; */
  justify-self: center;
  align-self: center;
  text-align: start;
  font-size: large;
}

.ganesh-card-total-tip-empty-1,
.ganesh-card-total-tip-label {
  font-style: italic;
  margin-left: 5vw;
  /* padding: 5px; */
  justify-self: center;
  align-self: center;
  font-weight: bold;
  text-align: end;
  font-size: larger;
}

.ganesh-card-total-tip-value {
  font-style: italic;
  /* padding: 5px; */
  justify-self: center;
  align-self: center;
  text-align: start;
  font-size: larger;
}

.ganesh-card-order-parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.ganesh-card-order-id-label {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: center;
  font: bold 1rem sans-serif;
  font-size: large;
}
.ganesh-card-order-id-value {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: center;
  align-self: center;
  font-style: italic;
  font-size: large;
}
.ganesh-card-status-label {
  grid-area: 1 / 3 / 2 / 4;
  justify-self: start;
  align-self: center;
  font: bold 1rem sans-serif;
  font-size: large;
}
.ganesh-card-status-value {
  grid-area: 1 / 4 / 2 / 5;
  justify-self: center;
  align-self: center;
  font-style: italic;
  font-size: large;
}
.ganesh-card-table-id-label {
  grid-area: 1 / 5 / 2 / 6;
  justify-self: start;
  align-self: center;
  font: bold 1rem sans-serif;
  font-size: large;
}
.ganesh-card-table-id-value {
  grid-area: 1 / 6 / 2 / 7;
  justify-self: center;
  align-self: center;
  font-style: italic;
  font-size: large;
}
.ganesh-card-guests {
  grid-area: 2 / 1 / 3 / 7;
  justify-self: center;
  align-self: center;
}

.ganesh-section-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.ganesh-section-header {
  grid-area: 1 / 1 / 2 / 5;
  justify-self: center;
  align-self: center;
}
.ganesh-section-card1 {
  grid-area: 2 / 1 / 3 / 3;
  outline: 0.15rem solid #fef9ef;
  /* box-shadow: 0 0 0 0.1rem #c2cfd8; */
  border-radius: 20px;
  padding: 1vw;
  margin: 1%;
}
.ganesh-section-card2 {
  grid-area: 2 / 3 / 3 / 5;
  outline: 0.15rem solid #fef9ef;
  /* box-shadow: 0 0 0 0.1rem #c2cfd8; */
  border-radius: 20px;
  padding: 1vw;
  margin: 1%;
}
.ganesh-section-card3 {
  grid-area: 3 / 1 / 4 / 3;
  outline: 0.15rem solid #fef9ef;
  /* box-shadow: 0 0 0 0.1rem #c2cfd8; */
  border-radius: 20px;
  padding: 1vw;
  margin: 1%;
}
.ganesh-section-card4 {
  grid-area: 3 / 3 / 4 / 5;
  outline: 0.15rem solid #fef9ef;
  /* box-shadow: 0 0 0 0.1rem #c2cfd8; */
  border-radius: 20px;
  padding: 1vw;
  margin: 1%;
}
