
.mitchellContainer {
    font-weight: bold;
    align-content: center;
    border: 2px solid black;
    background-color: rgb(252, 252, 127);
    border-radius: 10px;
    margin: 5px;
}

#mli {
    margin: 15px;
}

#morderItems {
    border: 2px black solid; 
    border-radius: 10px;
    justify-content: left;
    list-style: none;
    align-items: left;
    background-color: lightgoldenrodyellow;
}

#mh3 {
    text-align: center;
    background-color: lightsalmon;
    border: solid 2px black;
    border-radius: 10px;
    width: max-content;
}

#mh4 {
    text-align: center;
    font-size: xx-large;
}